.dropdownWrapper{
	position: relative;
	display: inline-block;
}

.dropdownWrapper:hover .dropdown{
	visibility: visible;
	opacity: 1;
}

.dropdown{
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.11), 0 2px 8px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	border-radius: 4px;
	padding: 4px;
	font-size: 14px;
	transition: .2s;
	margin-top: 2px;
	white-space: nowrap;
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 100%;
	background-color: #fff;
	z-index: 999;
}

.dropElement{
	color: #000;
  border: none;
  background: none;
  font-size: 14px;
  padding: 0;
	padding: 6px 14px;
	border-radius: 4px;
	transition: .15s;
	cursor: pointer;
	outline: none;
	width: 100%;
	font-family: inherit;
	text-align: right;
}

.dropElement:hover{
	color: #000;
}

.dropElement:hover{
	background: #0001;
}
