.dropdownWrapper{
	position: relative;
	display: inline-block;
}

// .dropdownWrapper:hover .dropdown{
// 	visibility: visible;
// 	opacity: 1;
// }

.dropdown{
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.11), 0 2px 8px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	border-radius: 4px;
	padding: 4px;
	font-size: 14px;
	transition: .2s;
	margin-top: 2px;
	white-space: nowrap;
	position: absolute;
	background-color: #fff;
  z-index: 99999999;
	animation: dropdownIn .2s;
	overflow: hidden;
}

.dropElement{
	color: #000;
  border: none;
  background: none;
  font-size: 14px;
  padding: 0;
	padding: 6px 14px;
	border-radius: 4px;
	transition: .15s;
	cursor: pointer;
	outline: none;
	width: 100%;
	font-family: inherit;
	text-align: left;
}

.dropElement:hover{
	color: #000;
}

.dropElement:hover{
	background: #0001;
}

.dropdownOverlay{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: none;
	z-index: 999999;
}

.dropdownAnimOut{
	animation: dropdownOut .2s forwards;
}

@keyframes dropdownIn {
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

@keyframes dropdownOut {
	from{
		opacity: 1;
	}
	to{
		opacity: 0;
	}
}
