.tag {
	margin: 0;
  color: rgba(0, 0, 0, 0.65);
  display: inline-block;
  height: auto;
  margin-right: 8px;
  padding: 0 12px;
  font-size: 12px;
  line-height: 20px;
  white-space: nowrap;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  cursor: default;
  opacity: 1;
}
