@import "../../styles/variables.scss";

.inputWrapper{
	position: relative;
}

.inputIcon{
	position: absolute;
	top: 0;
  bottom: 0;
	left: 5px;
  // padding: 2.5px 4px 0;
	// padding-left: 4px;
	opacity: .3;
	display: inline-flex;
  align-items: center;
  justify-content: center;
	line-height: 0;
	height: 100%;
}

// @mixin input-style($textColor, $shadowColor) {
// 	outline: none;
// 	font-size: 1rem;
// 	padding: .3rem .6rem;
// 	border-radius: 4px;
// 	border: 1px solid lighten($textColor, 45%);
// 	transition: all .2s, padding 0s;
// 	width: 100%;
//   &:hover {
// 		border-color: lighten($textColor, 20%);
//   }
// 	&:focus{
// 		// border-color: rgba($shadowColor, .7);
// 		// box-shadow: 0 0 0 3px rgba($shadowColor, .3);;
// 	}
//   &:active {
//     border-color: $shadowColor;
//   }
// 	&::placeholder{
// 		color: lighten($textColor, 30%);
// 	}
// }

@mixin input-style($textColor, $shadowColor) {
	outline: none;
	font-size: 1rem;
	padding: .3rem .6rem;
	border-radius: 4px;
	border: 2px solid #0000;
	background: #00000008;
	transition: all .2s, padding 0s;
	width: 100%;
  &:hover {
		// border-color: lighten($textColor, 20%);
		background: #0000000f;
  }
	&:focus{
		background: #0000;
		// border-color: rgba($shadowColor, .7);
		// box-shadow: 0 0 0 3px rgba($shadowColor, .3);;
	}
  &:active {
		background: #0000;
    border-color: $shadowColor;
  }
	&::placeholder{
		color: lighten($textColor, 25%);
	}
}

.inputWrapper > input{
	@include input-style($defaultColor, $primaryColor);
}

.inputWrapper > textArea{
	@include input-style($defaultColor, $primaryColor);
}


.inputError{
	// box-shadow: 0 0 0 3px #ff000040 !important;
	border-color: #ff0000 !important;
}

.input{
	-webkit-appearance: none;
}
