.ratingDiv{
	display: flex;
}

.starButton svg{
	opacity: .3;
	// transition: .2s;
	cursor: pointer;
	-webkit-filter: brightness(0%);
  filter: brightness(0%);
}

.notStatic.starButton:hover svg{
	opacity: .5;
}

.containRating svg{
	-webkit-filter: brightness(100%);
  filter: brightness(100%);
	opacity: 1;
}

.currentRating svg{
	opacity: 1 !important;
}
