.btn {
	background: none;
	font-size: .875rem;
	color: #5f6368;
	background-color: #eaeaeb;
	height: 36px;
	padding: 0 16px;
	font-weight: 500;
	cursor: pointer;
	border-radius: 3px;
	border: none;
	letter-spacing: .25px;
	transition: .15s;
	min-width: 100px;
	outline: none;
}
.btn:hover,
.btn:focus{
	box-shadow: 0 0px 1px 0 #eaeaeb70, 0 1px 1px 1px #eaeaeb60;
	background-color: #5f636833;
	border: none;
}
.btn:active{
	background-color: #eaeaeb;
}


.btnPrimary {
  background-color: #1a73e8;
	color: #fff;
}
.btnPrimary:hover,
.btnPrimary:focus{
	box-shadow: 0 1px 1px 0 #1a73e873, 0 1px 1px 1px #1a73e84d;
	background-color: #297be6;
	border: none;
}
.btnPrimary:active{
	background-color: #1268da;
}

.btnSuccess {
  background-color: #11c784;
	color: #fff;
}
.btnSuccess:hover,
.btnSuccess:focus{
	box-shadow: 0 1px 1px 0 #1ecd9773, 0 1px 1px 1px #1ecd974d;
	background-color: #1ecd97;
	border: none;
}
.btnSuccess:active{
	background-color: #10bf7f;
}

.btnDanger {
  background-color: #ff4444;
	color: #fff;
}
.btnDanger:hover,
.btnDanger:focus{
	box-shadow: 0 1px 1px 0 #ff444473, 0 1px 1px 1px #ff44444d;
	background-color: #ff2929;
	border: none;
}
.btnDanger:active{
	background-color: #f13131;
}

.btnRounded{
	border-radius: 2rem;
}
