.modal{
	max-width: 600px;
  margin: 1.75rem auto;
	background: #fff;
	z-index: 999;
	position: fixed;
  left: 0;
  right: 0;
  top: 50px;
	border-radius: 2px;
	transition: opacity 0.3s;
	opacity: 1;
}

.modal.hide {
  opacity: 0;
  pointer-events: none;
}

.modalOverlay{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #0006;
	height: 100vh;
	z-index: 999;
	transition: 1s;
	transition: opacity 0.3s;
	opacity: 1;
}

.modalOverlay.hide {
  opacity: 0;
  pointer-events:none;
}

.closeModal{
	position: absolute;
	top: .8rem;
	right: .8rem;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.3rem;
  transition: .2s;
}
.closeModal:hover{
	opacity: .6;
}


.modalAnimationIn {
  animation: fadeInModal .2s;
}
@keyframes fadeInModal{
  from {
		transform: translateY(15px) scale(.98);
		opacity: 0;
	}
  to {
		transform: translateY(0) scale(1);
		opacity: 1;
	}
}

.modal{
	composes: modalAnimationIn;
}

.modalAnimationOut {
  animation: fadeOutModal .2s forwards;
}
@keyframes fadeOutModal{
  from {
		transform: translateY(0) scale(1);
		opacity: 1;
	}
  to {
		transform: translateY(15px) scale(.98);
		opacity: 0;
	}
}

.hideModal{
	composes: modalAnimationOut;
}
