.App {

}

.componentBlock{
  padding: 1rem 0;
}

.buttonBlock button{
	margin-right: .7rem;
}
.componentBlock button:last-child {
	margin-right: 0;
}

.componentTitle {
	margin-top: 0;
	font-size: 2rem;
}

.componentDescr{
	color: #595959;
	margin-bottom: 2rem;
}

.noBorderCard{
	background-color: #f0f2f5;
  padding: 2rem 0 4rem;
	margin-bottom: -4rem;
}

.bottomRightCardBtn{
	display: flex;
	justify-content: flex-end;
	padding-top: .5rem;
}

.iconRow span {
	margin: 1rem;
}

.iconRow span :hover{
	background-color: #0001;
	border-radius: 4px;
}

.iconRow{
  display: flex;
	justify-content: space-between;
	font-size: 2.5rem;
}

.displayCol,
.displayBgCol{
	height: 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: .3rem 0;
	color: #fff;
	font-size: 1.1rem;
}

.displayBgCol{
	background-color: #0001;
	border-radius: 0;
}

.displayCol{
	background-color: #07bbffbb;
	border-radius: .2rem;
}

.rowOverlay{
  position: absolute;
	top: 0;
	right: 0;
	left: 0;
}
