.flwww-container-full{
	width: 100%;
  margin-right: auto;
  margin-left: auto;
}


.flwww-container{
  width: 100%;
  margin-right: auto;
  margin-left: auto;

	@media (min-width: 576px) {
	  max-width: 540px;
	}

	@media (min-width: 768px) {
	  max-width: 720px;
	}

	@media (min-width: 992px) {
	  max-width: 960px;
	}

	@media (min-width: 1200px) {
	  max-width: 1140px;
	}
}
