@import "../../styles/variables.scss";

.tableWrapper{
	border-radius: 4px;
	border: 1px solid #e8e8e8;
}

.table{
	width: 100%;
	// border: 1px solid #e8e8e8;
	text-align: left;
	border-collapse: collapse;
}

.table th,
.table td {
  padding: .8rem 1rem;
}

.table th {
	background-color: #00000006;
	font-weight: normal;
	color: #000a;
}

.table th {
  border-bottom: 1px solid #e8e8e8;
}

.table td {
  border-bottom: 1px solid #e8e8e8;
}

.table tr:last-child td {
  border-bottom: none;
}

.table tbody tr {
		transition: .1s;
}

.table tbody tr:hover {
	background: rgba($primaryColor, .05);
}
