.avatarDiv{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	border-radius: 50%;
	background-color: #0001;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.initials{

}
