.messageDiv{
	padding: 10px 16px;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 4px 12px rgba(0,0,0,0.15);
	font-size: .9rem;
	display: flex;
	align-items: center;
	margin-bottom: 4px;
}

.messageWrapper{
	position: fixed;
	top: 20px;
	left: 0;
	right: 0;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.msgIcon{
	height: 1.4rem;
	padding-right: 5px;
	margin-left: -4px;
}


.msgAnimation {
  animation: fadeInMsg .2s;
}
@keyframes fadeInMsg{
  from {
		transform: translateY(-10px);
		opacity: 0;
	}
  to {
		transform: translateY(0);
		opacity: 1;
	}
}

.messageDiv{
	composes: msgAnimation;
}


.msgAnimationOut {
  animation: fadeOutMsg .2s forwards;
}

@keyframes fadeOutMsg{
  from {
		transform: translateY(0);
		opacity: 1;
	}
  to {
		transform: translateY(-10px);
		opacity: 0;
	}
}

.msgIsFadingOut{
	composes: msgAnimationOut;
}
